<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Buy Coffee</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<h1>Buy Coffee</h1>
<form th:action="@{/coffee/buy}" th:object="${coffeeBuyRequest}" method="post" >
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}" required/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
  </div>
  <div class="form-group">
    <label for="amount">Amount:</label>
    <input type="number" id="amount" th:field="*{amount}"  required/>
    <span th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">amount Error</span>
  </div>
  <div class="form-group">
    <label for="coffeeHouseId">Coffee House Id:</label>
    <input type="number" id="coffeeHouseId" th:field="*{coffeeHouseId}" required/>
    <span th:if="${#fields.hasErrors('coffeeHouseId')}" th:errors="*{coffeeHouseId}">Coffee House Error</span>
  </div>

  <div class="form-group">
    <button type="submit">Save</button>
  </div>
</form>
</body>
</html>