<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add City</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<h1>Add City</h1>
<form th:action="@{/city/add}" th:object="${cityRequestMVC}" method="post" >
  <div class="form-group">
    <label for="name">City Name:</label>
    <input type="text" id="name" th:field="*{name}" required/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">City Name Error</span>
  </div>
  <div class="form-group">
    <label for="state">State Name:</label>
    <input type="text" id="state" th:field="*{state}" required/>
    <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}">State Name Error</span>
  </div>


  <div class="form-group">
    <button type="submit">Save</button>
  </div>
</form>
</body>
</html>