<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Replenish Storage</title>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<h1>Replenish Storage</h1>
<form th:action="@{/storage/replenish/{idStorage}(idStorage=${idStorage})}" th:object="${cofInventoryReplenishRequest}"  method="post" >
    <div class="form-group">
        <label for="quantity">Quantity :</label>
        <input type="number" id="quantity" name="quantity" th:field="*{quantity}" required/>
        <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</span>
    </div>

    <div class="form-group">
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>