<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete Merch</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<h1>Delete Merch</h1>

<form th:action="@{/merch/delete}" method="post">
  <div class="form-group">
    <label for="idMerch">Merch Id:</label>
    <input type="text" id="idMerch" name="idMerch" required>
  </div>
  <button type="submit">Submit</button>
</form>



</body>
</html>