<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Merch</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
<h1>Add Merch</h1>
<form th:action="@{/merch/add}" th:object="${merchRequestMVC}" method="post" >
  <div class="form-group">
    <label for="name">Item Name:</label>
    <input type="text" id="name" th:field="*{name}" required/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Item Name Error</span>
  </div>
  <div class="form-group">
    <label for="quantity">Quantity:</label>
    <input type="number" id="quantity" th:field="*{quantity}" required/>
    <span th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</span>
  </div>
  <div class="form-group">
    <label for="supplierId">Supplier Id:</label>
    <input type="number" id="supplierId" th:field="*{supplierId}" required/>
    <span th:if="${#fields.hasErrors('supplierId')}" th:errors="*{supplierId}">Supplier Id Error</span>
  </div>

  <div class="form-group">
    <button type="submit">Save</button>
  </div>
</form>
</body>
</html>