<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Delete State</title>
  <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>

<h1>Delete State</h1>

<div class="warning-container">
  <div class="warning-text">
    Attention! If you delete any element with relations
    it will also affect all elements!
    Any Child elements will be deleted!!!
  </div>
  <form th:action="@{/state/delete}" method="post">
    <div class="form-group">
      <label for="idState">State Name:</label>
      <input type="text" id="idState" name="idState" required>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>



</body>
</html>